$primary: #f72085;
$link-decoration: none;

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

body {
  width: 325px;
  min-height: 400px;
  background-color: #f6f7fb;
}

.header {
  padding: 0.75rem;
  display: flex;
  gap: 0.75rem;
  align-items: center;

  img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
  }

  .avatar {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;

    &:hover .icon.hover {
      opacity: 1;
      visibility: visible;
    }
    .icon.hover {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($primary, 0.5);
      color: $white;
      opacity: 0;
      visibility: hidden;
      transition: all 350ms ease;

      svg {
        height: 1rem;
        width: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }

  .titles {
    display: flex;
    flex-direction: column;
  }
  .title {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: $primary;
    font-size: 18px;
    background: linear-gradient(90deg, #{$primary}, #a9119c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    overflow: hidden;
  }
  .user {
    font-size: 12px;
    color: #6e7881;
  }
  .options-btn {
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    border: 0;
    background: none;
    width: 2rem;
    height: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    color: #6e7881;
    transition: all 350ms ease;
    fill: currentColor;

    svg {
      width: 1rem;
      height: 1rem;
    }

    &:hover {
      color: $primary;
    }
  }
}

.commerce-data {
  margin-top: 0.75rem;

  .title {
    height: 2.5rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1;
    color: #6e7881;
  }
  .info {
    padding: 0.75rem;
    justify-content: center;
    font-size: 12px;
    gap: 0.75rem;

    .double-item {
      display: flex;
      flex-wrap: nowrap;
      gap: 0.75rem;
    }
    .item {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      .icon {
        width: 1rem;
        height: 1rem;
        background-size: 1rem;
        background-position: center;
        background-repeat: no-repeat;
        &-fluid {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%235f8dd3' viewBox='0 0 16 16'%3E%3Cpath d='M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6ZM6.646 4.646l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448c.82-1.641 1.717-2.753 2.093-3.13Z'/%3E%3C/svg%3E");
        }
        &-beyond {
          background-image: url("data:image/svg+xml,%3Csvg height='16' width='16' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 193.55 110.41' fill='%234192a6'%3E%3Cpath class='cls-1' d='m138.37,0c-10.53,0-23.64,2.57-36.57,6.94,3.32,1.34,6.58,2.79,9.74,4.34,9.7-2.71,19.14-4.28,26.83-4.28,26.57,0,48.18,21.63,48.18,48.21s-21.61,48.21-48.18,48.21c-15.01,0-36.68-5.94-53.92-14.79-19.58-10.05-30.81-22.23-30.81-33.42s11.23-23.37,30.81-33.42c2.46-1.26,5.02-2.46,7.62-3.59-3.21-1.19-6.46-2.26-9.69-3.2-.38.19-.76.37-1.13.56-22.32,11.45-34.62,25.53-34.62,39.65s12.29,28.19,34.62,39.65c18.43,9.45,40.84,15.56,57.11,15.56,30.43,0,55.18-24.77,55.18-55.21S168.79,0,138.37,0Z'/%3E%3Cpath class='cls-1' d='m55.18,103.41c-26.57,0-48.18-21.63-48.18-48.21S28.61,7,55.18,7c15.01,0,36.68,5.94,53.92,14.79,19.58,10.05,30.81,22.23,30.81,33.42s-11.23,23.37-30.81,33.42c-2.46,1.26-5.02,2.46-7.62,3.59,3.21,1.19,6.46,2.26,9.69,3.2.38-.19.76-.37,1.13-.56,22.32-11.45,34.62-25.53,34.62-39.65s-12.29-28.19-34.62-39.65C93.87,6.11,71.45,0,55.18,0,24.75,0,0,24.77,0,55.21s24.75,55.21,55.18,55.21c10.53,0,23.64-2.57,36.57-6.94-3.32-1.34-6.58-2.79-9.74-4.34-9.7,2.71-19.14,4.28-26.83,4.28Z'/%3E%3C/svg%3E");
        }
        &-cold-fusion {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23001c57' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm9-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM7 6a1 1 0 0 0 0 2h2a1 1 0 1 0 0-2H7Z'/%3E%3Cpath d='M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13ZM1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-.691l-1.362-2.724A.5.5 0 0 0 12 10H4a.5.5 0 0 0-.447.276L2.19 13H1.5a.5.5 0 0 1-.5-.5v-9ZM11.691 11l1 2H3.309l1-2h7.382Z'/%3E%3C/svg%3E");
        }
        &-prestashop {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='16' viewBox='0 0 256 256'%3E%3Cpath fill='%23A5DBE8' d='M82.979 196.416c2.044-.91 4.115-1.747 6.205-2.532 2.36-.887 4.739-1.721 7.15-2.447 3.001-.904 6.027-1.722 9.094-2.373 4.135-.878 8.319-1.528 12.534-1.937-2.364 7.433-4.977 14.824-7.808 22.168.121 1.422.186 2.853.224 4.288 5.702-1.125 11.59-1.727 17.622-1.727 6.031 0 11.92.602 17.622 1.727.038-1.435.103-2.866.224-4.288-2.832-7.344-5.444-14.735-7.808-22.168 4.215.409 8.399 1.059 12.534 1.937 3.066.651 6.092 1.469 9.093 2.373 2.412.726 4.791 1.56 7.151 2.447 2.091.786 4.163 1.623 6.207 2.533 14.504 6.459 27.726 16.039 38.57 28.471C238.773 201.417 256 166.731 256 128 256 57.308 198.692 0 128 0 57.308 0 0 57.308 0 128c0 38.731 17.227 73.416 44.407 96.888 10.844-12.432 24.068-22.013 38.572-28.472'/%3E%3Cpath fill='%23525353' d='m173.023 196.417 7.946 27.323 2.254.106c1.463 0 2.492.385 2.492 1.848 0 2.432.126 5.165.359 7.551 1.98 1.681 4.391 3.577 6.219 5.419 6.867-3.998 13.322-8.614 19.3-13.776-10.844-12.432-24.066-22.012-38.57-28.471'/%3E%3Cpath fill='%23525353' d='m157.486 196.144 9.33-2.26c-2.36-.887-4.739-1.721-7.151-2.447-3.001-.904-6.027-1.722-9.093-2.373-4.135-.878-8.319-1.528-12.534-1.937 2.364 7.433 4.976 14.824 7.808 22.168-.121 1.422-.186 2.853-.224 4.288 6.611 1.304 13.111 3.57 19.121 6.228l-7.257-23.667'/%3E%3Cpath d='M63.707 238.664c1.486.866 2.987 1.711 4.513 2.518.534-2.565 1.388-6.119 1.646-8.758-1.98 1.681-4.331 4.398-6.159 6.24'/%3E%3Cpath d='M164.587 219.575c-6.009-2.658-12.354-4.688-18.965-5.992-5.702-1.125-11.591-1.727-17.622-1.727-6.032 0-11.92.602-17.622 1.727-6.61 1.303-13.507 3.28-19.515 5.937l-.639 3.981h75.554l-1.191-3.926'/%3E%3Cpath fill='%23525353' d='M69.632 233.182c.234-2.386.403-4.513.403-6.946 0-1.462 1.003-2.399 2.466-2.399l2.399-.084 8.079-27.337c-14.504 6.459-27.728 16.04-38.572 28.472 5.978 5.162 12.433 9.778 19.3 13.776 1.828-1.842 3.732-3.609 5.712-5.29'/%3E%3Cpath d='M187.051 238.045c.518 2.6.635 3.118.729 3.137 1.526-.807 3.026-1.652 4.513-2.518-1.828-1.842-3.791-3.668-5.772-5.349l.53 4.73'/%3E%3Cpath fill='%23AA9678' d='m164.587 219.575 1.191 3.926h15.454l-8.209-27.084c-2.044-.91-4.116-1.747-6.207-2.533l-9.33 2.26 7.101 23.431'/%3E%3Cpath fill='%23C4B6A1' d='M75.039 228.971c.081-.057.163-.114.243-.172h-.232c-.002.057-.008.115-.011.172'/%3E%3Cpath fill='%23AA9678' d='M180.95 228.799h-.233c.081.058.163.115.243.172-.002-.057-.008-.115-.01-.172'/%3E%3Cpath fill='%23AA9678' d='m180.684 228.404-52.794.06L128 256c19.648 0 38.256-4.439 54.893-12.351-1.086-4.772-1.195-9.912-1.372-14.914-.08-.058-.837-.331-.837-.331'/%3E%3Cpath fill='%23C4B6A1' d='M127.915 228.578s-53.085-.067-53.166-.01c-.176 5.003-1.208 10.939-1.642 15.081C89.744 251.561 108.352 256 128 256l.03-27.333-.115-.089'/%3E%3Cpath fill='%23786453' d='M128 226.15h.001v2.649H128v-2.649Z'/%3E%3Cpath fill='%23525353' d='M164.649 205.236c-.386-.444-.784-.919-1.197-1.46.414.541.811 1.016 1.197 1.46'/%3E%3Cpath fill='%23AA9678' d='M167.594 208.16s.009.029.027.083c-.018-.054-.027-.083-.027-.083s-1.298-1.029-2.945-2.924c1.647 1.895 2.945 2.924 2.945 2.924'/%3E%3Cpath fill='%23FFF' d='M206.706 92.348v.006-.006'/%3E%3Cpath fill='%23FFF' d='M211.857 129.201c0-.013.001-.025.001-.038 0 .013-.001.025-.001.038'/%3E%3Cpath fill='%23BBBCBD' d='M211.858 129.163c0-.012-.001-.022-.001-.035 0 .012.001.023.001.035'/%3E%3Cpath fill='%23676A6A' d='M211.714 127.169c.004.034.014.064.018.098.003.021.009.04.012.06v.008c.061.489.084 1 .095 1.515.002.095.018.184.018.278 0 .013.001.023.001.035 0 .013-.001.025-.001.038-.001.102-.018.197-.019.298-.012.505-.034 1.006-.093 1.486v.007c-.004.025-.01.048-.014.073-.004.039-.016.074-.021.112-.072.524-.164 1.032-.287 1.515-.001.003-.001.005-.002.007v.001l.018-.02c.002-.008.005-.015.007-.023v.001l3.35-3.507-3.377-3.535c0 .002 0 .005.001.007.126.493.222 1.011.294 1.546'/%3E%3Cpath d='M211.71 131.177c.009-.066.026-.125.035-.192.059-.48.081-.981.093-1.486.001-.114.019-.221.019-.336 0-.107-.016-.207-.018-.313-.011-.515-.034-1.026-.095-1.515-.008-.058-.023-.109-.03-.166-.072-.535-.168-1.053-.294-1.546-.044-.172-.105-.325-.156-.491-.303-1.002-.716-1.887-1.206-2.622-.066-.098-.133-.193-.201-.285-.135-.181-.27-.357-.413-.515-.212-.229-.431-.44-.662-.615-.088-.067-.181-.114-.271-.172-.2-.129-.404-.242-.615-.328-.09-.036-.181-.072-.273-.101-.298-.092-.603-.158-.917-.158-.314 0-.618.066-.917.158-.092.029-.183.065-.273.102-.211.085-.415.198-.616.327-.088.058-.182.104-.269.171-.231.176-.451.387-.663.616-.143.158-.278.334-.411.513-.07.094-.137.189-.203.288-.49.735-.904 1.62-1.206 2.622-.012.04-.026.079-.038.12-.134.46-.238.944-.325 1.441-.026.152-.061.298-.082.454-.08.556-.121 1.136-.131 1.73-.001.082-.014.16-.014.242h.02c0 4.876 2.307 8.828 5.152 8.828.49 0 .961-.128 1.41-.347.072-.036.143-.073.214-.114.186-.107.369-.224.544-.365.097-.078.188-.172.281-.26.227-.212.443-.452.648-.719.142-.187.282-.374.412-.583.083-.133.159-.277.236-.419.144-.266.28-.543.403-.837.046-.106.093-.209.135-.318.157-.409.294-.841.41-1.294.123-.483.215-.991.287-1.515Zm-4.819-3.189c-1.067 0-1.932-1.483-1.932-3.311 0-1.827.865-3.31 1.932-3.31s1.931 1.483 1.931 3.31c0 1.828-.864 3.311-1.931 3.311Z'/%3E%3Cpath fill='%23FFF' d='M206.891 121.367c-1.067 0-1.932 1.483-1.932 3.31 0 1.828.865 3.311 1.932 3.311s1.931-1.483 1.931-3.311c0-1.827-.864-3.31-1.931-3.31'/%3E%3Cpath fill='%23909393' d='M202.148 125.133c.302-1.002.716-1.887 1.206-2.622.066-.1.133-.193.203-.288.133-.179.268-.355.411-.513.212-.231.432-.439.663-.616.087-.067.181-.113.269-.171.2-.131.405-.24.616-.327.09-.037.181-.073.273-.102.298-.094.603-.158.917-.158.314 0 .619.064.917.158.092.029.183.065.273.101.211.088.415.197.615.328.09.058.183.105.271.172.23.176.45.384.662.615.143.158.278.334.413.515.068.093.135.186.201.285.49.735.903 1.62 1.206 2.622v.002l-4.558-20.877-4.559 20.876h.001'/%3E%3Cpath d='M146.299 128.968c-.006-.42-.033-.835-.08-1.243-.001-.005-.003-.011-.003-.017-.048-.402-.115-.799-.201-1.188-.003-.01-.006-.019-.008-.03-.086-.385-.191-.763-.313-1.134-.003-.008-.007-.016-.01-.025-.123-.371-.263-.734-.422-1.088-.002-.007-.007-.014-.01-.022-.159-.355-.335-.702-.527-1.038-.586-1.027-1.317-1.958-2.167-2.768-1.079-1.027-2.348-1.858-3.747-2.434-.011-.004-.024-.008-.035-.013-.69-.281-1.411-.501-2.158-.651-.019-.003-.037-.004-.056-.008-.749-.147-1.521-.227-2.313-.227-.779 0-1.536.08-2.273.221-.026.005-.052.007-.078.012-.733.146-1.44.36-2.119.632-.017.007-.036.013-.054.021-.688.28-1.345.621-1.962 1.018-.003.002-.005.003-.007.003-.623.402-1.208.859-1.746 1.364l-.013.041-.045.01c-.859.817-1.598 1.759-2.189 2.794-.006.012-.014.024-.022.037-.18.317-.343.647-.493.983-.016.036-.036.07-.051.106-.137.311-.255.633-.365.957-.021.064-.049.124-.069.187-.096.303-.174.614-.248.925-.019.09-.048.176-.067.265-.064.308-.108.623-.149.939-.012.097-.033.19-.043.287-.043.413-.067.832-.067 1.258 0 .798.082 1.576.231 2.33.002.015.003.032.007.048.151.753.373 1.479.658 2.174.004.01.006.02.011.029.58 1.406 1.419 2.679 2.456 3.76.82.855 1.764 1.588 2.802 2.174l.015.009c.324.182.659.346 1 .498.028.012.055.028.084.04.316.138.643.257.972.368.056.019.11.043.166.061.304.097.618.175.932.247.085.02.167.048.253.066.305.063.619.106.935.147.095.011.189.033.286.043.411.043.829.066 1.252.066 1.665 0 3.251-.338 4.694-.949.721-.304 1.407-.677 2.048-1.111 1.284-.867 2.391-1.975 3.258-3.257.433-.642.807-1.327 1.112-2.049.61-1.443.948-3.029.948-4.694 0-.029-.004-.056-.004-.083-.001-.031-.005-.06-.006-.091Zm-12.05-1.413c-2.502 0-4.53-2.029-4.53-4.531s2.028-4.53 4.53-4.53c2.502 0 4.53 2.028 4.53 4.53 0 2.502-2.028 4.531-4.53 4.531Z'/%3E%3Cpath fill='%23FFF' d='M134.249 118.494c-2.502 0-4.53 2.028-4.53 4.53 0 2.502 2.028 4.531 4.53 4.531 2.502 0 4.53-2.029 4.53-4.531s-2.028-4.53-4.53-4.53'/%3E%3Cpath fill='%23BBBCBD' d='m125.952 120.404.045-.01.013-.041 8.306-25.402v-5.945c0-.044-.001-.067-.001-.067-4.626-.949-9.382-1.47-14.25-1.47-1.625 0-3.237.069-4.839.178-.233.016-.467.03-.701.048-8.337.633-16.547 2.806-24.149 6.276-6.519 2.977-12.576 6.898-18.021 11.547v.001c-.002.003-.006.005-.009.008-1.462 1.242-2.863 2.553-4.231 3.897-.256.25-.516.498-.769.752-1.288 1.298-2.533 2.639-3.737 4.019-.261.301-.518.608-.776.912-1.209 1.427-2.385 2.881-3.502 4.383-.093.126-.18.258-.272.384-1.065 1.449-2.079 2.936-3.056 4.448-.191.295-.387.586-.574.884-.79 1.253-1.525 2.54-2.255 3.83h37.837l34.941-8.632'/%3E%3Cpath fill='%23E3DDDB' d='M157.895 117.546c.077-.991.14-1.981.191-2.973.069-1.342.116-2.686.142-4.029.02-1.043.017-2.087.012-3.13 0-.301.007-.602.004-.904-.028-2.688-.133-5.379-.297-8.073-.008-.005-.015-.01-.023-.015-.003-.007-.007-.013-.01-.019-.01-.007-.049-.029-.085-.049-.032-.019-.06-.035-.12-.069-.494-.284-1.708-.979-2.798-1.598-.024-.013-.047-.027-.07-.04-.276-.156-.542-.307-.783-.443-.005-.003-.01-.005-.014-.008-.208-.117-.382-.214-.543-.304-.032-.018-.077-.043-.107-.06-.177-.098-.314-.172-.395-.215-1.739-.902-3.514-1.737-5.319-2.499-4.303-1.817-10.099-3.41-13.364-4.179v6.012l8.233 25.443.009.021c.85.81 1.581 1.741 2.167 2.767v.001c.192.336.368.683.527 1.038.004.008.008.015.01.022.159.354.299.717.422 1.088.003.009.007.017.01.025.122.371.227.749.313 1.134.002.011.005.02.008.03.086.389.153.786.201 1.188 0 .006.002.012.003.017.047.408.074.823.08 1.243l.031.068h10.081c.681-3.689 1.156-7.427 1.457-11.181.007-.103.019-.206.027-.309'/%3E%3Cpath fill='%23FCB03F' d='M171.079 108.55c-.007.011-.012.024-.018.035.006-.011.012-.023.018-.034'/%3E%3Cpath fill='%23909393' d='M126.01 120.353c.538-.505 1.123-.962 1.746-1.364.002 0 .004-.001.007-.003.617-.397 1.274-.738 1.962-1.018.018-.008.037-.013.054-.021.679-.272 1.386-.486 2.119-.632.026-.005.051-.007.078-.012.737-.141 1.494-.221 2.273-.221.792 0 1.564.08 2.313.227.019.004.037.005.056.008.747.15 1.468.37 2.158.651.011.005.023.009.035.013 1.399.576 2.668 1.407 3.747 2.434l-.009-.021-8.233-25.443-8.306 25.402'/%3E%3Cpath fill='%23676A6A' d='M123.085 133.694c-.285-.695-.507-1.421-.658-2.174-.004-.016-.005-.033-.007-.048-.149-.754-.231-1.532-.231-2.33 0-.426.024-.845.067-1.258.01-.097.031-.19.043-.287.041-.316.085-.631.149-.939.019-.089.048-.175.067-.265.074-.311.152-.622.248-.925.021-.063.047-.123.069-.187.11-.324.228-.646.365-.957.015-.036.035-.07.051-.106.15-.336.313-.666.493-.983.008-.013.016-.025.022-.037.591-1.035 1.33-1.977 2.189-2.794l-34.941 8.632h-.067l34.608 8.447c-1.037-1.081-1.876-2.354-2.456-3.76-.005-.009-.007-.019-.011-.029'/%3E%3Cpath fill='%23E3DDDB' d='M201.703 127.148c.022-.156.055-.302.082-.454.087-.497.191-.981.325-1.441.015-.052.021-.111.037-.162l4.559-20.876-.001-11.903c-3.725-3.077-7.714-4.759-11.867-4.759-5.248 0-10.141 2.898-13.8 6.477-4.004 3.917-7.098 8.845-9.6 13.818-.115.229-.233.449-.347.679.771.668 1.534 1.345 2.287 2.034 1.704 1.559 3.371 3.159 5.016 4.781.766.756 1.518 1.528 2.272 2.297.8.815 1.601 1.628 2.389 2.456 1.013 1.065 2.017 2.139 3.011 3.224.419.456.837.914 1.251 1.374 1.199 1.327 2.392 2.66 3.565 4.011l.002.002c.197.206.335.354.388.414h10.282c0-.083.017-.159.018-.242.01-.594.051-1.174.131-1.73'/%3E%3Cpath fill='%23E3DDDB' d='M171.09 108.582c-.004-.011-.008-.022-.011-.031-.006.011-.012.023-.018.034.006.006.036.036.045.044-.005-.016-.01-.031-.016-.047'/%3E%3Cpath fill='%23525353' d='M46.975 142.173c.03-.077.062-.153.092-.23.662-1.731 1.387-3.439 2.148-5.131.213-.471.432-.938.652-1.406.624-1.328 1.284-2.638 1.968-3.936.278-.528.55-1.058.838-1.581.159-.289.339-.565.501-.853.73-1.29 1.465-2.577 2.255-3.83.187-.299.383-.589.574-.884.977-1.512 1.991-2.999 3.056-4.448.092-.126.179-.258.272-.384 1.117-1.502 2.293-2.956 3.502-4.383.258-.304.514-.61.776-.912 1.204-1.38 2.449-2.721 3.737-4.019.254-.254.513-.502.769-.752 1.368-1.344 2.769-2.655 4.231-3.897.003-.003.007-.006.009-.009 5.751-19.264 24.321-31.102 45.142-31.102 8.38 0 16.714 2.415 23.856 6.784 7.326 4.481 12.321 8.859 16.199 16.512.019.039.039.077.058.115.098.194.208.38.304.576.003.006.007.012.01.019.008.005.015.01.023.015 3.244 1.998 6.339 4.263 9.281 6.745.981.828 1.945 1.679 2.892 2.554.312.286.633.558.941.849.006-.012.011-.024.018-.035.003-.008.007-.017.011-.024.106-.217.21-.438.317-.652 2.934-18.517 12.256-28.614 21.89-28.614 7.262 0 12.541 4.33 16.528 15.986l.041.125c.003.004.007.009.01.014 1.126 1.223 2.223 2.571 3.287 4.048l-.002-.001c.021.028.043.054.064.083l-.001-.001.001.001c.057.169.106.343.161.512v-.001l-.15-.607c-11.985-35.482-45.545-61.028-85.073-61.028-49.58 0-89.772 40.192-89.772 89.772 0 9.774 1.562 19.184 4.462 27.94.003-.016.008-.033.012-.051.57-2.641 1.253-5.266 2.048-7.863.62-2.024 1.309-4.032 2.062-6.016'/%3E%3Cpath fill='%23FFF' d='m214.577 129.155-3.131 3.503v-.001c-.002.008-.005.015-.007.023-.119.461-.265.891-.426 1.306-.042.109-.089.212-.135.318-.124.294-.258.572-.403.837-.077.142-.153.286-.236.419-.13.208-.27.397-.412.583-.205.267-.421.507-.648.719-.093.087-.183.182-.281.26-.175.141-.358.258-.544.365-.072.04-.142.078-.214.114-.449.219-.92.347-1.41.347-2.845 0-5.152-3.952-5.152-8.828h-10.337c.003.003.004.006.006.008 1.92 2.216 3.806 4.462 5.667 6.73.022.028.044.055.067.082 1.809 2.208 3.591 4.436 5.354 6.679.087.11.173.219.26.329 1.672 2.132 3.325 4.278 4.964 6.43.159.207.319.415.478.624 1.733 2.28 3.45 4.566 5.155 6.855.012.017.023.032.036.048 2.953-8.738 4.605-18.073 4.708-27.785l-2.906-.11-.453.145'/%3E%3Cpath d='M114.525 87.695c.234-.018.468-.032.701-.048 1.602-.109 3.214-.178 4.839-.178 4.868 0 9.624.521 14.25 1.47h.001c3.265.769 9.061 2.362 13.364 4.179 1.805.762 3.58 1.597 5.319 2.499.081.043.218.118.395.215.03.017.075.042.107.06.161.09.337.187.543.304.004.003.009.005.014.008.242.137.506.287.783.443.023.013.046.027.07.04 1.106.627 2.33 1.33 2.798 1.598.06.034.088.05.12.069.024.014.076.043.085.049-.096-.196-.206-.382-.304-.576-.019-.038-.039-.076-.058-.115-3.878-7.653-9.848-14.217-17.174-18.698-7.142-4.369-15.476-6.784-23.857-6.784-20.82 0-38.415 14.024-44.166 33.288 5.445-4.649 11.502-8.57 18.021-11.547 7.602-3.47 15.812-5.643 24.149-6.276'/%3E%3Cpath fill='%23BBBCBD' d='m213.225 99.515-.001-.001.001.001c-.021-.029-.043-.055-.064-.083l.002.001c-1.064-1.477-2.161-2.825-3.287-4.048-.002-.004-.006-.009-.009-.012.003.003.007.008.009.012-.009-.011-.019-.024-.029-.035-.512-.554-1.027-1.083-1.551-1.585-.197-.189-.401-.354-.6-.535-.329-.299-.656-.608-.99-.882v11.909l4.559 20.878v-.001c.05.162.11.314.154.482l3.158 3.539.031-.035h3.305c.004-.306.023-.608.023-.915v-.005c-.001-9.847-1.619-19.309-4.55-28.174v.001c-.055-.169-.104-.343-.161-.512'/%3E%3Cpath d='M181.038 94.03c3.659-3.579 8.552-6.477 13.8-6.477 4.153 0 8.142 1.682 11.867 4.759 0 0 .001.027.001.036v.006-.006c.334.274.661.583.99.882.199.181.403.346.6.535.524.502 1.039 1.031 1.551 1.585.01.011.02.024.029.035-.002-.004-.006-.009-.009-.012l-.001-.001-.041-.126c-3.987-11.656-10.42-19.229-17.68-19.229-9.635 0-17.804 13.34-20.738 31.857l.031-.026c2.502-4.973 5.596-9.901 9.6-13.818'/%3E%3Cpath d='M168.019 207.836s-1.297-1.028-2.944-2.923c-.386-.444-.784-.919-1.198-1.46-.311-.405-.626-.838-.941-1.297-.21-.306-.418-.624-.625-.952-.623-.985-1.12-2.184-1.668-3.369-.634-1.372-.636-2.285-1-3.563-.26-.914-.476-1.869-.637-2.863-.241-1.49-.356-3.068-.303-4.728.028-.913.122-1.858.259-2.82.132-.925.314-1.872.557-2.839.726-2.903 1.981-5.995 3.939-9.259.005-.009.493-1.109.498-1.118.64-1.066.782-1.019 1.39-2.046 8.564-14.453 13.184-25.382 10.924-42.21-.162-1.201-.603-3.892-.844-5.156-.128.874-.611 3.659-.625 3.719-.085.384-.318.801-.406 1.062-3.72 11.01-9.576 19.109-18.002 28.254-1.142 1.239-2.338 2.496-3.562 3.765-2.06 2.135-4.22 4.316-6.505 6.59-.912.907-1.842 1.827-2.788 2.765-.869.86-1.95 2.699-3.24 4.054-.796 2.229-1.701 4.743-2.466 7.387-.345-.131-.674-.248-1.025-.384-16.368-6.331-27.327-14.79-27.327-14.79s8.432 10.979 22.638 21.285c1.375.998 2.731 1.862 4.059 2.628-.586 9.276 3.506 18.181 21.977 20.837 3.123.449 6.321.428 9.542.065-.032-.096.18-.094.163-.147-.018-.054.172-.196.172-.196'/%3E%3Cpath fill='%239F2254' d='M158.139 183.959c16.398 2.646 40.667 2.212 65.861-9.584.607-.284 1.276.464 1.883.166 0 0-17.219 17.587-37.783 27.53-.601.29-1.194.599-1.801.875-1.987.908-4.008 1.699-6.037 2.429-3.979 1.43-8.011 2.515-12.014 3.016-.184.024-.368.059-.552.079-.032-.096-.058-.174-.075-.227-.018-.054-.027-.083-.027-.083s-1.298-1.029-2.945-2.924c-.386-.444-.784-.919-1.197-1.46-.311-.405-.626-.838-.941-1.297-.21-.306-.419-.624-.626-.952-.622-.985-1.227-2.074-1.775-3.258-.547-1.184-1.037-2.465-1.427-3.837-.261-.914-.477-1.869-.638-2.863-.241-1.491-.355-3.068-.303-4.728.028-.914.122-1.858.259-2.82l.138-.062'/%3E%3Cpath fill='%23FCB03F' d='M146.386 165.29c2.286-2.274 4.446-4.455 6.506-6.59 1.223-1.269 2.42-2.526 3.562-3.765 8.425-9.145 14.61-17.703 18.331-28.713.087-.261.175-.605.26-.992.014-.06.027-.117.04-.179.087-.411.172-.868.257-1.383.034-.355 1.147-1.071 1.178-1.404-.933-4.794-3.083-9.834-5.43-13.682.006.016.011.031.016.047-.009-.008-.039-.038-.045-.044-.308-.291-.629-.563-.941-.849-.947-.875-1.911-1.726-2.892-2.554-2.943-2.482-6.037-4.747-9.281-6.745.164 2.694.269 5.385.297 8.073.004.302-.004.603-.004.904.005 1.043.008 2.087-.012 3.13-.026 1.343-.073 2.687-.142 4.029-.051.992-.114 1.982-.191 2.973-.008.103-.02.206-.027.309-.301 3.754-.776 7.492-1.457 11.181l-1.184 5.599c-2.473 10.026-7.496 19.12-11.626 28.51-1.095 2.49-2.134 5.008-3.045 7.573-.083.235-.172.482-.258.724 1.29-1.355 2.432-2.527 3.3-3.387.947-.937 1.877-1.858 2.788-2.765'/%3E%3Cpath fill='%23525353' d='M92.198 219.213c6.009-2.658 11.57-4.327 18.18-5.63-.038-1.435-.103-2.866-.224-4.288 2.831-7.344 5.444-14.735 7.808-22.168-4.215.409-8.399 1.059-12.534 1.937-3.067.651-6.093 1.469-9.094 2.373-2.411.726-4.79 1.56-7.15 2.447l9.331 2.26-7.508 23.566 1.191-.497'/%3E%3Cpath fill='%23DF0067' d='M207.559 149.378c-1.639-2.152-3.292-4.298-4.964-6.43-.086-.11-.174-.219-.26-.329-1.763-2.243-3.545-4.471-5.354-6.679-.023-.027-.045-.054-.067-.082-1.861-2.268-3.747-4.514-5.667-6.73-.121-.141-.242-.284-.365-.424-1.173-1.351-2.366-2.684-3.565-4.011-.415-.459-.832-.918-1.251-1.374-.994-1.085-1.998-2.159-3.011-3.224-.789-.827-1.588-1.642-2.389-2.456-.754-.769-1.506-1.541-2.272-2.297-1.646-1.621-3.312-3.222-5.016-4.781-.754-.689-1.517-1.367-2.288-2.035-.004.007-.008.016-.011.024 1.622 4.662 3.473 9.382 4.4 14.244.241 1.265.44 2.495.602 3.697 2.26 16.827-3.132 27.814-11.695 42.267-.615 1.036-1.244 2.09-1.889 3.164-1.958 3.266-3.212 6.357-3.939 9.26-.242.967-.425 1.914-.557 2.839 16.793 2.71 42.045 3.215 67.882-9.48 0 0-5.067-7.447-12.691-17.684-1.705-2.289-3.422-4.575-5.155-6.855-.158-.209-.319-.417-.478-.624'/%3E%3Cpath fill='%23AA9678' d='m90.115 223.922 8.4-27.778-9.331-2.26c-2.09.785-4.161 1.622-6.205 2.532l-8.319 27.506 9.287.145 6.168-.145'/%3E%3Cpath fill='%23FFF' d='M96.02 211.904c.82.315 1.654.599 2.486.89 9.285 3.255 19.259 5.047 29.658 5.047 11.857 0 23.166-2.322 33.528-6.498.548-.22 1.085-.462 1.627-.693.88-.375 1.754-.76 2.619-1.161.774-.36 1.548-.717 2.31-1.098-.184.024-.368.059-.552.079-3.221.363-6.419.384-9.542-.065-18.471-2.656-22.563-11.561-21.977-20.837-1.328-.766-2.684-1.63-4.059-2.628-14.206-10.306-22.638-21.285-22.638-21.285s10.959 8.459 27.327 14.79c.351.136.68.253 1.025.384.765-2.644 1.67-5.158 2.466-7.387.086-.242.175-.489.258-.724.911-2.565 1.95-5.083 3.045-7.573 4.13-9.39 9.153-18.484 11.626-28.51l1.184-5.599h-10.102l-.001.001c0 .006.001.013.001.02l-.004.002c0 .027.004.054.004.083 0 1.665-.338 3.251-.948 4.694-.305.722-.679 1.407-1.112 2.049-.867 1.282-1.974 2.39-3.258 3.257-.641.434-1.327.807-2.048 1.111-1.443.611-3.029.949-4.694.949-.423 0-.841-.023-1.252-.066-.097-.01-.19-.031-.286-.043-.316-.041-.63-.084-.935-.147-.086-.019-.168-.046-.253-.066-.314-.072-.628-.15-.932-.247-.056-.019-.11-.042-.166-.061-.329-.111-.656-.23-.972-.368-.029-.012-.056-.027-.084-.04-.341-.152-.676-.316-1-.498l-.015-.009c-1.038-.586-1.982-1.319-2.802-2.174l-34.608-8.447h-37.77c-.162.288-.342.564-.501.853-.288.523-.56 1.054-.838 1.581-.684 1.298-1.344 2.608-1.968 3.936-.22.467-.439.935-.652 1.406-.761 1.692-1.486 3.4-2.148 5.131-.03.077-.062.153-.092.23-.753 1.984-1.442 3.992-2.062 6.016-.795 2.597-1.478 5.222-2.048 7.863 5.946 18.136 17.515 33.72 32.638 44.704.44.319.904.603 1.35.915 2.558 1.788 5.201 3.461 7.943 4.979 3.6 1.995 7.342 3.764 11.224 5.254'/%3E%3Cpath fill='%238B7460' d='M186.58 233.374c-.232-2.386-.376-4.792-.376-7.224 0-1.462-1.185-2.649-2.648-2.649H72.444c-1.463 0-2.649 1.187-2.649 2.649 0 2.432-.143 4.838-.376 7.224-.258 2.639-.665 5.243-1.199 7.808 1.611.852 3.235 1.681 4.887 2.467 1.086-4.772 1.756-9.675 1.932-14.678.003-.057.009-.115.011-.172h105.9c.002.057.008.115.01.172.177 5.003.847 9.906 1.933 14.678 1.652-.786 3.276-1.615 4.887-2.467-.534-2.565-.941-5.169-1.2-7.808'/%3E%3C/svg%3E");
        }
        &-sandbox,
        &-igd,
        &-igd-pre,
        &-studio {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23e91e63' viewBox='0 0 16 16'%3E%3Cpath d='M12.5 9a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7Zm.354 5.854 1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V10.5a.5.5 0 0 0-1 0v2.793l-.646-.647a.5.5 0 0 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0Z'/%3E%3Cpath d='M12.096 6.223A4.92 4.92 0 0 0 13 5.698V7c0 .289-.213.654-.753 1.007a4.493 4.493 0 0 1 1.753.25V4c0-1.007-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1s-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4v9c0 1.007.875 1.755 1.904 2.223C4.978 15.71 6.427 16 8 16c.536 0 1.058-.034 1.555-.097a4.525 4.525 0 0 1-.813-.927C8.5 14.992 8.252 15 8 15c-1.464 0-2.766-.27-3.682-.687C3.356 13.875 3 13.373 3 13v-1.302c.271.202.58.378.904.525C4.978 12.71 6.427 13 8 13h.027a4.552 4.552 0 0 1 0-1H8c-1.464 0-2.766-.27-3.682-.687C3.356 10.875 3 10.373 3 10V8.698c.271.202.58.378.904.525C4.978 9.71 6.427 10 8 10c.262 0 .52-.008.774-.024a4.525 4.525 0 0 1 1.102-1.132C9.298 8.944 8.666 9 8 9c-1.464 0-2.766-.27-3.682-.687C3.356 7.875 3 7.373 3 7V5.698c.271.202.58.378.904.525C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777ZM3 4c0-.374.356-.875 1.318-1.313C5.234 2.271 6.536 2 8 2s2.766.27 3.682.687C12.644 3.125 13 3.627 13 4c0 .374-.356.875-1.318 1.313C10.766 5.729 9.464 6 8 6s-2.766-.27-3.682-.687C3.356 4.875 3 4.373 3 4Z'/%3E%3C/svg%3E");
        }
        &-production {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23e91e63' viewBox='0 0 16 16'%3E%3Cpath d='M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0Z'/%3E%3Cpath d='M12.096 6.223A4.92 4.92 0 0 0 13 5.698V7c0 .289-.213.654-.753 1.007a4.493 4.493 0 0 1 1.753.25V4c0-1.007-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1s-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4v9c0 1.007.875 1.755 1.904 2.223C4.978 15.71 6.427 16 8 16c.536 0 1.058-.034 1.555-.097a4.525 4.525 0 0 1-.813-.927C8.5 14.992 8.252 15 8 15c-1.464 0-2.766-.27-3.682-.687C3.356 13.875 3 13.373 3 13v-1.302c.271.202.58.378.904.525C4.978 12.71 6.427 13 8 13h.027a4.552 4.552 0 0 1 0-1H8c-1.464 0-2.766-.27-3.682-.687C3.356 10.875 3 10.373 3 10V8.698c.271.202.58.378.904.525C4.978 9.71 6.427 10 8 10c.262 0 .52-.008.774-.024a4.525 4.525 0 0 1 1.102-1.132C9.298 8.944 8.666 9 8 9c-1.464 0-2.766-.27-3.682-.687C3.356 7.875 3 7.373 3 7V5.698c.271.202.58.378.904.525C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777ZM3 4c0-.374.356-.875 1.318-1.313C5.234 2.271 6.536 2 8 2s2.766.27 3.682.687C12.644 3.125 13 3.627 13 4c0 .374-.356.875-1.318 1.313C10.766 5.729 9.464 6 8 6s-2.766-.27-3.682-.687C3.356 4.875 3 4.373 3 4Z'/%3E%3C/svg%3E");
        }
        &-fluidCache {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23596671' viewBox='0 0 16 16'%3E%3Cpath d='M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
        }
        &-commerceId {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23596671' viewBox='0 0 16 16'%3E%3Cpath d='M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z'/%3E%3C/svg%3E");
        }
        &-modular-2018,
        &-template-base {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%237952b3' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8V1z'/%3E%3Cpath d='M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z'/%3E%3Cpath d='M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z'/%3E%3C/svg%3E");
        }
        &-template-version {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%237952b3' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.646 5.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 8l1.647-1.646a.5.5 0 0 0 0-.708z'/%3E%3Cpath d='M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z'/%3E%3Cpath d='M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z'/%3E%3C/svg%3E");
        }
      }
    }
  }
}

.nav-tabs-actions {
  .nav-tabs {
    background-color: #fff;
    border-bottom: 0;

    > .nav-item {
      flex: 1 1 33.333%;
      > .nav-link {
        border: 0;
        position: relative;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: transparent;
        border-radius: 0;
        font-size: 14px;
        line-height: 1;
        width: 100%;
        overflow: hidden;
        position: relative;
        &.active {
          color: $primary;
        }
        &:not(.active):not(:hover) {
          color: #6e7881;
        }
      }
    }
  }
  .tab-content {
    .tab-pane {
      .grid {
        padding: 0.75rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 6.75rem;
        grid-gap: 0.75rem;
      }
    }
  }
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
  border: 1px solid #e7e7e7;
  cursor: not-allowed;
}

.btn-action {
  position: relative;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  font-size: 12px;
  line-height: 1.25;
  gap: 0.75rem;
  // color: $logo-blue-end;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.35s ease-in-out, box-shadow 0.15s ease-in-out;

  &.actived {
    border-color: $primary;

    .name {
      color: $primary;
    }
    svg {
      fill: $primary;
    }
  }

  .name {
    color: #596671;
    transition: color 0.15s ease-in-out;
  }

  .icon {
    width: 1rem;
    height: 1rem;
    display: flex;
    fill: #515365;
    transition: fill 0.15s ease-in-out;
  }
  &:not(:disabled):hover,
  &:not(:disabled):focus,
  &:not(:disabled):active {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    .name {
      color: #fff;
    }
    svg {
      fill: #fff;
    }
  }
}
