@import '~bootstrap/scss/bootstrap';
// @import '~bootstrap-icons/font/bootstrap-icons.css';

html,
body,
#app-container,
#layout {
  height: 100%;
}

.layout-content {
  padding-top: 56px;
  height: 100%;
  display: flex;
}

.navbar {
  width: 100%;

  .navbar-brand svg {
    width: 2rem;
    height: 2rem;
  }
}

.menu {
  width: 250px;
  position: fixed;
  left: 0;
  top: 56px;
  bottom: 0;
  overflow: hidden;
}

main {
  margin-left: 250px;
  width: calc(100% - 250px);
}
