$primary: #f72085;
$link-decoration: none;

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

// @import '~bootstrap-icons/font/bootstrap-icons.css';

html,
body,
#app-container,
#layout {
  height: 100%;
}
body {
  background-color: #f6f7fb;
  // font-size: 14px;
}

.react-ripples s {
  background-color: rgba($primary, 0.3) !important;
}

.layout-content {
  height: 100%;
  display: flex;
}

.brand {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;

  .react-ripples {
    width: 100%;
    padding: 1.5rem 0.8rem 1rem;
  }

  a {
    display: flex;
    align-items: center;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    font-size: 1.25rem;
    color: $primary;
    background: linear-gradient(90deg, #{$primary}, #a9119c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .logo-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.menu {
  width: 250px;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  .links {
    display: flex;
    flex-direction: column;
    margin-top: 0;

    .react-ripples {
      width: 100%;
      display: flex;
    }
    a {
      &:not(:hover):not(.active) {
        color: #6e7881;
      }

      height: 3.5rem;
      padding: 0.5rem 1.5rem;
      display: flex;
      align-items: center;
      gap: 0.75em;
      width: 100%;
      font-size: small;
    }
  }

  .footer {
    font-size: small;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 1.5rem;
    gap: 0.25rem 0.75rem;

    li {
      margin: 0;
    }
  }
}

main {
  margin-left: 250px;
  width: calc(100% - 250px);
}

.content {
  padding: 2rem;

  .content-header + & {
    padding-top: 0;
  }
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.content-header {
  padding: 2rem 4rem 2rem 2rem;
  position: relative;

  .nav {
    margin-left: calc(var(--bs-nav-link-padding-x) * -1);
    margin-bottom: calc(var(--bs-nav-link-padding-y) * -1);
  }

  p {
    margin-top: 1em;
    margin-bottom: 0;
    color: $gray-600;
  }
  .tags {
    margin-top: 1em;
  }

  .h2 {
    font-size: 20px;
    margin-bottom: 0;
    // color: #515365;
    font-weight: 400;

    & + .nav {
      margin-top: 0.5rem;
    }

    // position: relative;
    // &::after {
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   width: 10000px;
    //   height: 1px;
    //   background-color: red;
    //   bottom: 0;
    //   right: 0;
    // }
  }

  .close-button-link {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}

.toast {
  border: 0;
  color: #fff;
  margin-bottom: 0.75rem;
  --bs-toast-max-width: 300px;
}

.tooltip {
  font-size: 12px;
}

.nav-link {
  &:not(.active) {
    color: #6e7881;
  }
}

.card {
  border-color: rgba(0, 0, 0, 0.1);
  border: 0;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.03), 0 3px 6px rgba(0, 0, 0, 0.075);

  .card-title {
    font-size: 1.25rem;
  }
  .card-text {
    font-size: 14px;
    color: #6e7881;
  }
  .card-body {
    display: flex;
    flex-direction: column;
  }
  .card-footer {
    background-color: transparent;
    padding: 1rem;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    // border-top: 0;
    border-color: rgba(0, 0, 0, 0.05);

    .form-check {
      margin-bottom: 0;
      min-height: 1.25rem;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: auto;

  .badge {
    font-weight: normal;
    font-size: 10px;
    background-color: $gray-200 !important;
    color: $gray-900;
    &.tag-logicommerce {
      display: none;
    }
    &.tag-logicommerce8x {
      background-color: #d9e61a !important;
      color: $gray-900;
    }
    &.tag-logicommerceBeyond {
      background-color: #003a3e !important;
      color: #fff;
    }
    &.tag-fluid {
      background-color: #5f8dd3 !important;
      color: #fff;
    }
    &.tag-php {
      background-color: #8993be !important;
      color: #fff;
    }
  }
}
