.showTemplateModules_module.showTemplateModules_module-static {
  position: relative !important;
}

.showTemplateModules_module .showTemplateModules_module_line,
.showTemplateModules_module .showTemplateModules_module_name {
  position: absolute;
  z-index: var(--shteMo-zIndex);
  background-color: rgb(255, 0, 46);
}

.showTemplateModules_module .showTemplateModules_module_name {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
  margin: 0;
  color: #FFF;
}

.showTemplateModules_module .showTemplateModules_module_line-top,
.showTemplateModules_module .showTemplateModules_module_line-bottom {
  height: 1px;
}

.showTemplateModules_module .showTemplateModules_module_line-left,
.showTemplateModules_module .showTemplateModules_module_line-right {
  width: 1px;
}

.showTemplateModules_module .showTemplateModules_module_line-top {
  top: var(--shteMo-top);
  left: var(--shteMo-left);
  right: var(--shteMo-right);
}

.showTemplateModules_module .showTemplateModules_module_line-left {
  left: var(--shteMo-left);
  top: var(--shteMo-top);
  bottom: var(--shteMo-bottom);
}

.showTemplateModules_module .showTemplateModules_module_line-bottom {
  bottom: var(--shteMo-bottom);
  left: var(--shteMo-left);
  right: var(--shteMo-right);
}

.showTemplateModules_module .showTemplateModules_module_line-right {
  right: var(--shteMo-right);
  top: var(--shteMo-top);
  bottom: var(--shteMo-bottom);
}

.showTemplateModules_module .showTemplateModules_module_name-top-left {
  top: var(--shteMo-top);
  left: var(--shteMo-left);
}

.showTemplateModules_module .showTemplateModules_module_name-top-right {
  top: var(--shteMo-top);
  right: var(--shteMo-right);
}