.containerLinesGuide_rel {
  position: relative;
}

.containerLinesGuide_left {
  z-index: 9999999;
  width: 1px;
  background-color: red;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.containerLinesGuide_left2 {
  z-index: 9999999;
  width: 1px;
  background-color: red;
  position: absolute;
  top: 0;
  bottom: 0;
}

.containerLinesGuide_right {
  z-index: 9999999;
  width: 1px;
  background-color: red;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.containerLinesGuide_right2 {
  z-index: 9999999;
  width: 1px;
  background-color: red;
  position: absolute;
  top: 0;
  bottom: 0;
}

.containerLinesGuide_middle {
  z-index: 9999999;
  width: 1px;
  background-color: blue;
  opacity: .5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.containerLinesGuide_paddings_val {
  position: sticky;
  top: 50%;
  font-size: 9px;
  background-color: red;
  color: #FFF;
  line-height: 1;
  padding: 2px 3px;
  display: block;
  width: 50px;
  text-align: center;
}

.containerLinesGuide_right2 .containerLinesGuide_paddings_val {
  transform: translateX(-50px);
}

.containerLinesGuide_middle_general {
  position: fixed;
  z-index: 99999991;
  width: 1px;
  background-color: purple;
  opacity: .5;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}